name: Release

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Do a dry run to preview instead of a real release"
        required: true
        default: "true"

jobs:
  authorize:
    name: Authorize
    runs-on: macos-14
    steps:
      - name: ${{ github.actor }} permission check to do a release
        uses: octokit/request-action@v2.1.9
        with:
          route: GET /repos/:repository/collaborators/${{ github.actor }}
          repository: ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Release
    runs-on: macos-14
    needs: [authorize]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set Xcode 15
        run: |
          sudo xcode-select -switch /Applications/Xcode_15.2.app
      - name: iOS Tests
        run: |
          xcodebuild test \
            -scheme Amplitude-Swift-Package \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15'
      - name: macOS Tests
        run: |
          xcodebuild test \
            -scheme Amplitude-Swift-Package \
            -sdk macosx \
            -destination 'platform=macosx'
      - name: tvOS Tests
        run: |
          xcodebuild \
            -scheme Amplitude-Swift-Package \
            -sdk appletvsimulator \
            -destination 'platform=tvOS Simulator,name=Apple TV' \
            test
      - name: watchOS Tests
        run: |
          xcodebuild \
            -scheme Amplitude-Swift-Package \
            -sdk watchsimulator \
            -destination 'platform=watchOS Simulator,name=Apple Watch Series 8 (41mm)' \
            test
      - name: Objective-C Example Tests (iOS)
        working-directory: Examples/AmplitudeObjCExample
        run: |
          xcodebuild test \
            -scheme AmplitudeObjCExample \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15'

      - name: Validate Podfile
        run: pod lib lint --allow-warnings

      - name: Semantic Release --dry-run
        if: ${{ github.event.inputs.dryRun == 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
          GIT_AUTHOR_NAME: amplitude-sdk-bot
          GIT_AUTHOR_EMAIL: amplitude-sdk-bot@users.noreply.github.com
          GIT_COMMITTER_NAME: amplitude-sdk-bot
          GIT_COMMITTER_EMAIL: amplitude-sdk-bot@users.noreply.github.com
        run: |
          npx \
          -p lodash \
          -p semantic-release@17 \
          -p @semantic-release/changelog@5 \
          -p @semantic-release/git@9 \
          -p @google/semantic-release-replace-plugin@1.2.0 \
          -p @semantic-release/exec@5 \
          semantic-release --dry-run

      - name: Semantic Release
        if: ${{ github.event.inputs.dryRun == 'false'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
          GIT_AUTHOR_NAME: amplitude-sdk-bot
          GIT_AUTHOR_EMAIL: amplitude-sdk-bot@users.noreply.github.com
          GIT_COMMITTER_NAME: amplitude-sdk-bot
          GIT_COMMITTER_EMAIL: amplitude-sdk-bot@users.noreply.github.com
        run: |
          npx \
          -p lodash \
          -p semantic-release@17 \
          -p @semantic-release/changelog@5 \
          -p @semantic-release/git@9 \
          -p @google/semantic-release-replace-plugin@1.2.0 \
          -p @semantic-release/exec@5 \
          semantic-release
