name: Release

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Do a dry run to preview instead of a real release"
        required: true
        default: "true"

jobs:
  authorize:
    name: Authorize
    runs-on: macos-latest
    steps:
      - name: ${{ github.actor }} permission check to do a release
        uses: octokit/request-action@v2.0.0
        with:
          route: GET /repos/:repository/collaborators/${{ github.actor }}
          repository: ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Release
    runs-on: macos-latest
    needs: [authorize]
    env:
      SWIFT_DOC_VERSION: '1.0.0-rc.1'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Xcode 14
        run: |
          sudo xcode-select -switch /Applications/Xcode_14.1.app
      - name: iOS Tests
        run: |
          xcodebuild test \
            -scheme Amplitude-Swift \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 14'
      - name: macOS Tests
        run: |
          xcodebuild test \
            -scheme Amplitude-Swift \
            -sdk macosx \
            -destination 'platform=macosx'
      - name: tvOS Tests
        run: |
          xcodebuild \
            -scheme Amplitude-Swift \
            -sdk appletvsimulator \
            -destination 'platform=tvOS Simulator,name=Apple TV' \
            test
      - name: watchOS Tests
        run: |
          xcodebuild \
            -scheme Amplitude-Swift \
            -sdk watchsimulator \
            -destination 'platform=watchOS Simulator,name=Apple Watch Series 8 (41mm)' \
            test
      - name: Validate Podfile
        run: pod lib lint --allow-warnings
      - name: Cache Swift Doc
        id: cache-swift-doc
        uses: actions/cache@v2
        with:
          path: /usr/local/bin/swift-doc
          key: ${{ runner.os }}-swift-doc-${{ env.SWIFT_DOC_VERSION }}

      # Swift Doc requires graphviz as a dependency.
      # TODO Look into either caching graphviz or using a separate linux job
      #      in order to use the pre-built SwiftDoc github action.
      - name: Install Graphviz
        run: brew install graphviz

      - name: Install Swift Doc
        if: steps.cache-swift-doc.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/SwiftDocOrg/swift-doc
          cd swift-doc
          git checkout ${{ env.SWIFT_DOC_VERSION }}
          make install
          cd ..
          rm -rf swift-doc

      - name: Generate Swift Doc
        run: swift doc generate Sources/Amplitude/ --module-name Amplitude --output docs --format html --base-url /${{ github.event.repository.name }}

      - name: Semantic Release --dry-run
        if: ${{ github.event.inputs.dryRun == 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
          GIT_AUTHOR_NAME: amplitude-sdk-bot
          GIT_AUTHOR_EMAIL: amplitude-sdk-bot@users.noreply.github.com
          GIT_COMMITTER_NAME: amplitude-sdk-bot
          GIT_COMMITTER_EMAIL: amplitude-sdk-bot@users.noreply.github.com
        run: |
          npx \
          -p lodash \
          -p semantic-release@17 \
          -p @semantic-release/changelog@5 \
          -p @semantic-release/git@9 \
          -p @google/semantic-release-replace-plugin@1 \
          -p @semantic-release/exec@5 \
          semantic-release --dry-run

      - name: Semantic Release
        if: ${{ github.event.inputs.dryRun == 'false'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
          GIT_AUTHOR_NAME: amplitude-sdk-bot
          GIT_AUTHOR_EMAIL: amplitude-sdk-bot@users.noreply.github.com
          GIT_COMMITTER_NAME: amplitude-sdk-bot
          GIT_COMMITTER_EMAIL: amplitude-sdk-bot@users.noreply.github.com
        run: |
          npx \
          -p lodash \
          -p semantic-release@17 \
          -p @semantic-release/changelog@5 \
          -p @semantic-release/git@9 \
          -p @google/semantic-release-replace-plugin@1 \
          -p @semantic-release/exec@5 \
          semantic-release
