name: Release

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Do a dry run to preview instead of a real release"
        required: true
        default: "true"

jobs:
  # authorize:
  #   name: Authorize
  #   runs-on: macos-15
  #   # TODO: take this out before PR
  #   if: ${{ github.event.inputs.dryRun != 'true'}}
  #   steps:
  #     - name: ${{ github.actor }} permission check to do a release
  #       uses: octokit/request-action@v2.1.9
  #       with:
  #         route: GET /repos/:repository/collaborators/${{ github.actor }}
  #         repository: ${{ github.repository }}
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # run-tests:
  #   name: Run Tests
  #   # TODO: take this out before PR
  #   if: ${{ github.event.inputs.dryRun != 'true'}}
  #   uses: ./.github/workflows/unit-test.yml

  release:
    name: Release
    runs-on: macos-15
    # needs: [authorize, run-tests]
    # needs: [run-tests] # TODO: Take this out before merging to main!!!
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Xcode 16.3
        run: |
          sudo xcode-select -switch /Applications/Xcode_16.3.app

      - name: Validate Podfile
        run: pod lib lint --allow-warnings

      - name: Build xcframework
        run: scripts/build_framework.sh
      
      - name: Zip xcframework
        working-directory: .build/artifacts
        run: zip -r -y AmplitudeSwift.xcframework.zip AmplitudeSwift.xcframework

      - name: Zip xcframework
        working-directory: .build/artifacts
        run: zip -r -y AmplitudeSwiftNoUIKit.xcframework.zip AmplitudeSwiftNoUIKit.xcframework

      - name: Semantic Release --dry-run
        if: ${{ github.event.inputs.dryRun == 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
          GIT_AUTHOR_NAME: amplitude-sdk-bot
          GIT_AUTHOR_EMAIL: amplitude-sdk-bot@users.noreply.github.com
          GIT_COMMITTER_NAME: amplitude-sdk-bot
          GIT_COMMITTER_EMAIL: amplitude-sdk-bot@users.noreply.github.com
        run: |
          npm config set ignore-scripts true
          npm ci
          npm exec semantic-release -- --dry-run

      - name: Semantic Release
        if: ${{ github.event.inputs.dryRun == 'false'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
          GIT_AUTHOR_NAME: amplitude-sdk-bot
          GIT_AUTHOR_EMAIL: amplitude-sdk-bot@users.noreply.github.com
          GIT_COMMITTER_NAME: amplitude-sdk-bot
          GIT_COMMITTER_EMAIL: amplitude-sdk-bot@users.noreply.github.com
        run: |
          npm config set ignore-scripts true
          npm ci
          npm exec semantic-release
